@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

/* General button styles */
.btn-green {
  background-color: #275D38;
  color: #FFFFFF;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-green:hover {
  background-color: #1d3e2c;
}

.btn-gray {
  background-color: #DDDDDD; /* Light gray color */
  color: #275D38;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-gray:hover {
  background-color: #CCCCCC; /* Slightly darker gray on hover */
}

/* Search icon hover effect */
.search-icon {
  color: #275D38;
  transition: color 0.3s;
}

.search-icon:hover {
  color: #1d3e2c;
}

/* Link button styles */
.link-button {
  background: none;
  border: none;
  color: #1A1A1A;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}

.link-button:hover {
  color: #888888;
}

/* Additional spacing for secondary nav */
.secondary-nav {
  background-color: #EFEFEF; /* Default background color */
  color: #1A1A1A;
}

.secondary-nav-links {
  padding-left: 2rem; /* Adjust the padding value as needed */
}