.button {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Navigation button styles */
.nav-button {
  font-weight: 600;
  border-radius: 24px; /* Ensures the buttons are rounded */
  padding: 0.75rem 1.5rem;
  font-size: 1rem; /* Adjust font size if needed */
}

.nav-button-green {
  background-color: #275D38;
  color: #FFFFFF;
}

.nav-button-gray {
  background-color: #DDDDDD; /* Light gray color */
  color: #275D38;
}

.nav-button-green:hover {
  background-color: #1d3e2c;
  color: #FFFFFF;
}

.nav-button-gray:hover {
  background-color: #CCCCCC; /* Slightly darker gray on hover */
  color: #275D38; /* Keep the text color consistent */
}

/* Search icon hover effect */
.search-icon {
  color: #275D38;
  transition: color 0.3s;
}

.search-icon:hover {
  color: #1d3e2c;
}

/* Link button styles */
.link-button {
  background: none;
  border: none;
  color: #1A1A1A;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}

.link-button:hover {
  color: #888888;
}

/* Additional spacing for secondary nav */
.secondary-nav {
  background-color: #EFEFEF;
  color: #1A1A1A;
}

.secondary-nav-links {
  padding-left: 2rem; /* Adjust the padding value as needed */
}